
/*#### The Logo ####*/
/*#### Very Old school ####*/

.logo {

}

/*#### Navigation ####*/

nav ul{
	display: flex;
	margin-top: 15%;
}

ul li{
	list-style-type: none;
	margin-right: 40px;
	padding: 5px;
}

nav li a {
	text-decoration: none;
	color: black;
}

header{
	background-color: #37D662;
}

header nav li a:hover {
	color: white;
}


/*#### Columns ####*/
/*#### reading ####*/

.main-content {
	column-count: 3;
	column-gap: 40px;
	line-height: 22px;
  margin: 34px 42px 0px 42px;
}

.span{
	column-span:all;
	font-size: 24px;
	font-weight: bolder;
	font-family: 'helvetica'
	padding: 12px;
}

/*#### Teaser List ####*/
/*#### Homepage ####*/

.teaser-list {
  display: flex;
  flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-content: center;
}

.product-list-item {
  padding: 20px 10px;
	border-radius: 2px;
	margin: 2px;
  width: 24%;
  box-sizing: border-box;
	text-align: justify;
	background-color: #37D662;
}

.product-list-item img {
  padding-top: 10px;
  width: 100%;
}

.product-list-item p {
  padding-bottom: 20px;
}

.more-link {
	float: right;
	border-radius: 2px;
	padding: 2px;
	text-decoration: none;
	background-color: white;
	color: black;
}

/*### List ###*/

.gorilla-list{
	display: flex;
  flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-content: center;
}

.gorilla-list-item{
	padding: 20px 10px;
	margin: 2px;
	width: 24%;
	box-sizing: border-box;
	text-align: justify;
	background-color: #37D662;
}

/*### dossier-top Styles ###*/

.dossier-top {
  display: inline;
  vertical-align: middle;
}

.dossier-top img {
  float: left;
  width: 50%;
	margin-right: 20px;
}

.dossier-top-content {
  text-align: center;
	margin: 20% 20px 20px 20px;
}

.description-content{
	height: 250px;
	overflow: auto;
	text-align: justify;
	margin: 20px;
}

.img-strip{
		clear: both;
}

.strip-image {
	height: 100px;
	overflow: hidden;
}

.strip-image img {
  width: 100%;
}

/*### FOOTER Styles ###*/

footer {
  background-color: #37D662;
  height: 300px;
}

footer * {
  color: black;
}

footer nav{
	margin: 10px;
}

.footerlist{
	display: grid;
	margin-top: 0;

}

footer h1 {
  font-size: 1.5rem;
  padding: 10px;
}

footer p {
  padding-left: 10px;
	padding-top: 10px;
}

footer a {
  padding: 10px;
  text-decoration: none;
}

/*-----------------MEDIA QUERIES--------------------*/

@media screen and (max-width: 640px) {
.menu-toggle .burger-breads{
	position: absolute;
	right: 10px;
	top: 55px;
}

.menu-toggle .burger-breads span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  z-index: 1;
}

.menu-close .burger-breads span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}

.menu-close .burger-breads span:nth-child(2) {
  transform: rotate(135deg) translate(-6px, 9px);
}

.menu-close .burger-breads span:nth-child(3) {
    opacity: 0;
}

.menu-toggle{
  display: inline-block;
  padding: 1em;
}

/* Defaut styles + Mobile first - Offscreen menu style */

.main-menu{
  position: absolute;
  right: -200px;
  top: 0;
  height: 100%;
  overflow-y: none;
  overflow-x: visible;
  transform: left 0.3s ease;
  z-index: 999;
}

.main-menu:target {
	right: 0;
}

.main-menu ul{
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 200px;
  background: #37D662;
	display: block;
}

.main-menu li  {
	margin-right: 0;
}

.main-menu li:hover {
	background-color: black;
	color: #37D662;
}

.main-menu ul li a{
  padding: 1em;
}

.main-menu ul li a{
  display: block;
  padding: 0.75 15px;
  line-height: 1em;
  font-size: 1em;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.main-menu a:hover,
.main-menu a:focus{
	color: #37D662;
  text-decoration: none;
}

.main-menu .menu-close{
  position: absolute;
  right: 0;
  top: 18px;
  border-bottom: 1px solid transparent;
}

.main-menu:target{
  display: block;
  outline: none;
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

.main-menu:target .menu-close{
  z-index: 1001;
}

.main-menu:target ul{
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

 @supports (position: fixed){
  .main-menu,.main-menu:target + .backdrop{
    position: fixed;
  }
}

.main-content{
	column-count: 1;
	}

.product-list-item{
		width:45%;
	}

.gorilla-list-item{
		width:45%;
	}

	.dossier-top img{
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.product-list-item{
		width:100%;
	}

	.gorilla-list-item{
		width:100%;
	}
}
